/* Blue: #0079FC
Yellow: #FBD911 */

* {
    font-family: Poppins, 'San-Serif';
}

.hero {
    background-color: #FBD911;
    padding: 0.5em 0 2em 0;
    position: relative;
}

.fill-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(189deg) brightness(105%) contrast(105%);
}

.svg {
    height: 20px;
    width: 20px;
}

.title-main {
    font-weight: bold;
    font-size: calc(2em + 3vw);
}

.title {
    font-weight: bold;
    font-size: 2em;
}
.work-grid {
    margin-top: 3em;
}

.btn-hollow {
    background-color: transparent !important;
    border: 1px solid #fff;
}
.btn-hollow:hover {
    background-color: #FBD911 !important;
    border: 1px solid #FBD911;
    color: #000 !important;
}

.cta-btn {
    margin-top: 3.5em;
}

.cta-section {
}

.nav-links a:hover {
    background-color: #FBD911 !important;
}

.logo img{
    margin-top: .2em;
}

.mdi-menu {
    margin-left: -1em;
}

.work-grid img, .my-work img {
    margin-top: 1em;
}

.navigation  nav {
    margin: 1.5em 0 1.5em 0;
}

.my-work .title {
    width: 5.1em;
    border-bottom: 0.3em solid #FBD911;
}

.subscribe .title {
    width: 7.1em;
    border-bottom: 0.3em solid #FBD911;
}

.package {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3em;
    margin: 0;
}

.dollar-sign  {
    font-size: 20px;
}
.digit {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.package .flow-text {
    font-weight: bold;
    margin-top: 1em;
}

.subscribe .row {
    margin-top: 4em;
}
.price {
    margin: 0;
}

.offer-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5em;
}
.offer-item img {
    margin-right: 0.6em;
}

.my-work .responsive-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.pack-icon {
    height: 6em;
    align-self: center;
    width: 6em;
    object-fit: fill;
}

.package {
    margin-bottom: 2em;
}

.sidenav {
    padding: 2em 0 2em 1em;
}

.book .btn-floating {
    top: 0;
}


